.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: center;
}

.navList {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navLink:hover {
    background-color: #ddd;
}

.navLink.active {
    background-color: #ccc;
}